include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Журкин Алексей | main page
    link(rel="stylesheet", type="text/css", href="slick/slick.css")
    link(rel="stylesheet", type="text/css", href="slick/slick-theme.css")
    script(src="https://code.jquery.com/jquery-3.4.1.min.js") 
    script(src="slick/slick.min.js")
  body
    .wrapper
      .welcome-section
        .parallax
          //- .parallax__layer(data-speed="0.1")
          //-   img.paralax__image(src=require("images/content/paralax1.png"))  
          .parallax__layer(data-speed="0.11")
            img.paralax__image(src=require("images/content/paralax2.png"))  
          .parallax__layer(data-speed="0.13")
            img.paralax__image(src=require("images/content/paralax3.png"))  
          .parallax__layer(data-speed="0.14")
            img.paralax__image(src=require("images/content/paralax4.png"))  
          .parallax__layer(data-speed="0.15")
            img.paralax__image(src=require("images/content/paralax5.png"))  
          .parallax__layer()
            img.paralax__image(src=require("images/content/paralax6.png"))  
          .parallax__layer()
            img.paralax__image(src=require("images/content/paralax7.png"))  
        header.header
          .header-container.container
            .hero__logo
              a(href="#").logo ЖА  
            .hero__menu                
              - var menu = ["Главная","Обо мне","Навыки","Работы","Отзывы","Связаться"];  
              nav.menu
                ul.menu__items
                  each item in menu
                    li.menu__item
                      a.menu__link #{item}              
              .header__close
                //- img.header__close-menu(src="~images/content/close.png", alt="")
            .hero__links
              - var icons = ["insta", "vk", "github"];
              ul.socials
                each item in icons
                  li.socials__item
                    a.socials__link
                      +icon(item, "socials__icon")
            .burger
              a(href="#" class="burger__menu")
              +image('content/menu.png', 'burger__menu-pic')  
        section.hero
          .container.hero__container
                                                
            .hero__content
              .user-info
                .user-info__desc Личный сайт <br> веб разработчика
                .user-info__username Журкин  <br>  Алексей
            .hero__buttons
              a.scroll-btn(href="#about") Скролл
                +icon('scroll', 'scroll-btn__icon')  
        section.about(id="about")
            .container.about__container
              .about__left
                .user 
                  .user__avatar
                    .avatar
                      +image('content/me200.jpg', 'avatar__image')
                  .user__text
                    - 
                      var rows = [
                        ["Проживаю:", "Санкт-петербург"],
                        ["Возраст:", "31 год"],
                        ["Родился:", "17 апреля"]
                      ];
                    table.user__data
                      table.user__data-table
                        each row in rows
                          tr.user__data-row
                            each cell in row
                              td #{cell}

              .about__right
                .about__welcome-text Привет, меня зовут
                .about__username Журкин Алексей
                .about__desc Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                .about__ps Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!


      section.vallues        
        .container
          .vallues__title
            //- +image('content/rukzak.png', 'vallues__pic')
            .vallues__inner
              h2.vallues__title-text Чем я могу быть полезен вам
              p.vallues__title-subtext Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
              .vallues__widget
                #skills-component 
      section.works
        .container.works__container
          .section-title.works__section-title Мои работы
          .works__content
            #slider-component     
            
       
            
      section.contacts
        .paralax-budda
          //- .parallax__layers(data-speed="0.1")
          //-   img.paralax__images(src=require("images/content/budda1.png"))  
          .parallax__layers(data-speed="0.05")
            img.paralax__images(src=require("images/content/budda2.png"))  
          .parallax__layers(data-speed="0.2")
            img.paralax__images(src=require("images/content/budda3.png"))  
          .parallax__layers(data-speed="0.02")
            img.paralax__images(src=require("images/content/budda5.png"))  
          .parallax__layers(data-speed="0.05")
            img.paralax__images(src=require("images/content/budda6.png"))  
          .parallax__layers(data-speed="0.1")
            img.paralax__images(src=require("images/content/budda7.png"))  
           
        .buddasection
          .container
            section.rewies
              .swiper
                .swiper__title
                  h2.rewies__title Что обо мне говорят
                  button.rewies__btn.rewies__btn-prev(type="button" aria-label="вернуться к предыдущему отзыву")
                  button.rewies__btn.rewies__btn-next(type="button" aria-label="следующий отзыв")

                .swiper__page
                  .swiper__block
                    .swiper__slide
                      p.swiper__slide-text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                      .swiper__slide-inner
                        .swiper__slide-photo
                          +image('content/techer.png', 'swiper__pic')
                        .swiper__slide-name
                          h4.swiper__slide-name-client Ковальчук Дмитрий
                          span.swiper__slide-name-desk Основатель Loftschool
                    .swiper__slide
                      p.swiper__slide-text Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
                      .swiper__slide-inner.swiper__slide-next
                        .swiper__slide-photo
                          +image('content/techers.png', 'swiper__pic')
                        .swiper__slide-name
                          h4.swiper__slide-name-client Ковальчук Дмитрий
                          span.swiper__slide-name-desk Преподаватель
                  .swiper__block
                    .swiper__slide
                      p.swiper__slide-text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                      .swiper__slide-inner
                        .swiper__slide-photo
                          +image('content/techer.png', 'swiper__pic')
                        .swiper__slide-name
                          h4.swiper__slide-name-client Ковальчук Дмитрий
                          span.swiper__slide-name-desk Основатель Loftschool
                    .swiper__slide
                      p.swiper__slide-text Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
                      .swiper__slide-inner.swiper__slide-next
                        .swiper__slide-photo
                          +image('content/techers.png', 'swiper__pic')
                        .swiper__slide-name
                          h4.swiper__slide-name-client Ковальчук Дмитрий
                          span.swiper__slide-name-desk Преподаватель

                  

            
            section.numbers
              h2.numbers__title Связаться со мной
              form.form(action="#" method="post")
                .numbers__form-inner
                  .numbers__form-item
                    label.numbers__form-label(for="for-name") Введите ваше имя                                                  
                    input.numbers__form-input(type="text" id="for-name" required="false")
                  .numbers__form-item
                    label.numbers__form-label(for="for-email") Введите ваш email                  
                    input.numbers__form-input(type="email" id="for-email" v-model="email" required="false" error-message="errors.email"  icon="envelope")
                .numbers__form-item
                  label.numbers__form-label(for="for-text") Сообщение к письму
                  textarea.numbers__form-input(name="textaria", cols="30", rows="3" required="false")
                button.btn(type="submit" value="заказать") Отправить
             

      
      
      footer.footer
        .container.footer__container
          .footer__left
            span.footer__copyright © 2020
            span.footer__copyright-desk
              h4.footer__copyright-title Алексей <br> Журкин
              h5.footer__copyright-sibtitle Личный сайт веб-разработчика
          .footer__right
            .footer__nav
              - var menu = ["Главная","Обо мне","Навыки","Работы","Отзывы","Связаться"];  
                  nav.menu
                    ul.menu__items
                      each item in menu
                        li.menu__item
                          a.footer__link #{item}  
            .footer__inner
              .footer__socials
                p.footer__socials-desc Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                .footer__socials
                  - var icons = ["insta", "vk", "github"];
                  ul.socials
                    each item in icons
                      li.socials__item
                        a.socials__link.footer__social
                          +icon(item, "socials__icon, footer__icon")
              .footer__laier
                .footer__socials-desc  Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                .footer__laier-name Martin Golding



    include ./templates/entry.pug
      
         

                        
          
          


//- techer.png
  //- +image('content/user.jpg', 'user-pic')
  //- +icon('link', 'link-class')
  //- .icon-bg